<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cryptocoinloodos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.CryptoCoinApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CryptoCoinLoodos"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.cryptocoinloodos.modules.auth.login.LoginRegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".modules.crypto.CryptoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".modules.cryptodetail.CryptoDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".modules.menu.MenuActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".modules.favorite.FavoriteCryptoCoinActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>